<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
                <tbody>
                    {% for toon in t:%}
                    <tr>
                        <td>
                            <img src = "{{toon['img']}}">
                        </td>
                        <td>{{toon['title']}}</td>
                        <td>
                            <a href = "{{toon['url']}}">
                                Go
                            </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </body>
</html>